<section class="section hero">
    <div class="hero-inner">
        {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
</section>

<div class="container">

    <div id="homepageTopArticle" class="homepage--top__article">
        <h1>How can we help?</h1>
        <p>Simply use the search bar above to learn more about your product.</p>
        <p>Still have a question? Get in contact with our dedicated technical support team by <a href="https://techsupport.cambridgeaudio.com/hc/en-us/requests/new" target="_blank">submitting a request here</a>.</p>
    </div>

    <div class="homepage_category_section_wrapper">
        <div class="homepage_category_section_wrapper">
          <div class="homepage_category_section">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000181418-Melomania-1" class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Melomania</h3>
            </a>

            <ul class="article-list">

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001784218-Melomania-1-Manual" class="homepage_list_item">
                  <h4>Melomania 1 - Manual</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001511317-How-do-I-reset-the-Melomania-1-" class="homepage_list_item">
                  <h4>How do I reset the Melomania 1</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001592257-Only-one-of-my-Melomania-1-earphones-is-working-How-can-I-get-the-other-paired-" class="homepage_list_item">
                  <h4>Only one of my Melomania 1 earphones is working. How can I get the other paired?</h4>
                </a>
              </div>
            </ul>
          </div>

          <div class="homepage_category_section">
            <a href="#" class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Network Streamers</h3>
            </a>

            <ul class="article-list">
              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360002696018-CXNv2-Series-2-Manual" class="homepage_list_item">
                  <h4>CXNv2 Series 2 - Manual</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/115005859649-CXN-V2-Information-about-the-latest-firmware-update" class="homepage_list_item">
                  <h4>CXN V2 - Information about the latest firmware update</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/213288845-Azur-851N-Information-about-the-latest-firmware-update" class="homepage_list_item">
                  <h4>Azur 851N - Information about the latest firmware update</h4>
                </a>
              </div>

            </ul>
          </div>

          <div class="homepage_category_section dropdown">

            <div id='hifi' class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Hi-Fi</h3>
            </div>
            <div id='drop' class='drop'>
              <ul>
                <li>one</li>
                <li>two</li>
                <li>etc</li>
              </ul>
            </div>
            <ul class="article-list">
              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360002695458-CXA61-81-Manual" class="homepage_list_item">
                  <h4>CXA61/81 - Manual</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360006654518-USB-Audio-Driver-v4-82-Download" class="homepage_list_item">
                  <h4>USB Audio Driver v4.82 - Download</h4>
                </a>
              </div>

              <div class="article-list-item">
                <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001758557-AXR85-AXR100-Manual" class="homepage_list_item">
                  <h4>AXR85/AXR100 Manual</h4>
                </a>
              </div>

            </ul>
          </div>

          <div class="homepage_category_section">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002121497" class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Where to Buy?</h3>
            </a>
          </div>

          <div class="homepage_category_section">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110897" class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Orders &amp; Delivery</h3>
            </a>
          </div>

          <div class="homepage_category_section">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110937-Warranty-Returns" class="image_link">
              <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Warranty &amp; Returns</h3>
            </a>
          </div>

        </div>
        <div class="homepage_category_section">
            <a href="#" class="image_link">
                <img src="{{asset 'example.png'}}" alt="https://cambridgeaudio.com">
            </a>
            <a href="#" class="homepage_category_title_link">
                <h3 class="homepage">Network Streamers</h3>
            </a>

            <ul class="article-list">
                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360002696018-CXNv2-Series-2-Manual" class="homepage_list_item">
                        <h4>CXNv2 Series 2 - Manual</h4>
                    </a>
                </div>

                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/115005859649-CXN-V2-Information-about-the-latest-firmware-update" class="homepage_list_item"><h4>CXN V2 - Information about the latest firmware update</h4></a>
                </div>

                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/213288845-Azur-851N-Information-about-the-latest-firmware-update" class="homepage_list_item"><h4>Azur 851N - Information about the latest firmware update</h4></a>
                </div>

            </ul>
        </div>

        <div class="homepage_category_section">
            <a href="#" class="image_link">
                <img src="{{asset 'cxn.jpg'}}" alt="https://cambridgeaudio.com">
            </a>
            <a href="#" class="homepage_category_title_link">
                <h3 class="homepage">Hi-Fi</h3>
            </a>

            <ul class="article-list">
                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360002695458-CXA61-81-Manual" class="homepage_list_item">
                        <h4>CXA61/81 - Manual</h4>
                    </a>
                </div>

                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360006654518-USB-Audio-Driver-v4-82-Download" class="homepage_list_item">
                        <h4>USB Audio Driver v4.82 - Download</h4>
                    </a>
                </div>

                <div class="article-list-item">
                    <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001758557-AXR85-AXR100-Manual" class="homepage_list_item">
                        <h4>AXR85/AXR100 Manual</h4>
                    </a>
                </div>

            </ul>
        </div>

        <div class="homepage_category_section">
            <a href="#" class="image_link">
                <img src="{{asset 'example.png'}}" alt="https://cambridgeaudio.com">
            </a>
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002121497" class="homepage_category_title_link">
                <h3 class="homepage">Where to Buy?</h3>
            </a>
        </div>

        <div class="homepage_category_section">
            <a href="#">
                <img src="{{asset 'example.png'}}" alt="https://cambridgeaudio.com">
            </a>
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110897" class="homepage_category_title_link">
                <h3 class="homepage">Orders &amp; Delivery</h3>
            </a>

        </div>

        <div class="homepage_category_section">
            <a href="#" class="image_link">
                <img src="{{asset 'example.png'}}" alt="https://cambridgeaudio.com">
            </a>
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110937-Warranty-Returns" class="homepage_category_title_link">
                <h3 class="homepage">Warranty &amp; Returns</h3>
            </a>
        </div>


    </div>

{{!--     <div class="lds-css ng-scope" id="spinner"> --}}
{{!--         <div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> --}}
{{!--     </div> --}}
{{!--     <div id="articlesContent" class="articles-content hidden"> --}}
{{!--         <h1 class="featured-title">Featured Articles</h1> --}}
{{!--         <div id="promotedArticles" class="promoted-articles--wrapper"> --}}
{{!--             <ul id="promotedArticlesList" class="promoted-articles"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="morePromoted" class="see-more hidden">Show more</button> --}}

{{!--         <h1 class="featured-title">Recent Activity</h1> --}}
{{!--         <div id="recentActivity" class="recent-articles--wrapper"> --}}
{{!--             <ul id="recentActivityList"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="moreRecent" class="see-more hidden">Show more</button> --}}
{{!--     </div> --}}
</div>

<div id="homepageBottomArticle" class="homepage--bottom__article">
    <p><strong>A member of our team will aim to respond to your query within 48 hours, Monday to Friday.</strong></p>
    <p>UK Office: 9am - 5pm (GMT)<br>US Office: 9am - 5pm (CDT)<br>Hong Kong Office: 9am - 5pm (HKT)</p>
</div>